.chat-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;

  .chat-window {
    flex: 1 0 0;
    overflow-y: auto;
    overflow-x: hidden;

    .chat-welcome-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  .chat-input {
    flex: 0;
    margin-left: 168px;
    margin-right: 200px;
  }
}
